*::-webkit-input-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: color: rgb(190,190,190);
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {

}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background: linear-gradient(to bottom, rgb(27,27,45), rgb(231,232,233) 50%) no-repeat;
	
}	
.main-conteiner {
	width: 936px;
	margin: 0 auto;
	display: block;
	background-color: rgb(231,232,234);
}
/*------====== blog-conteiner ======------*/
.blog-conteiner {
	height: 1138px;
}
/*------====== blog-block ======------*/
/*.blog-block {
	height: 1055px;
	width: 712px;
	background-color: rgb(231,232,234);
	float: left;
	background-color: yellow;
}*/
/*------====== post-block ======------*/
.post-block {
	width: 658px;
	height: 177px;
	margin: 34px 0 0 30px;
	border-bottom: 1px solid rgb(208,217,230);
	font-family: ColabLig;
}
.post-image {
	height: 155px;
	width: 200px;
	border: 1px solid rgb(177,189,211);
	float: left;
	margin: 0 25px 0 0;
	text-align: center;
}
.blog-conteiner h4 {
	font-family: ColabLig;
	font-size: 27px;
	color: rgb(80,80,80);
	line-height: 100%;
}
.publication-date {
	font-family: Arial;
	font-size: 11px;
	color: rgb(95,115,144);
	display: inline-block;
	margin: 0 18px 0 0;
	line-height: 100%;
}
.publication-author {
	font-family: Arial;
	font-size: 12px;
	color: rgb(95,115,144);
	display: inline-block;
	line-height: 100%;
}
.publication-text {
	font-size: 15px;
	color: rgb(130,129,129);
	line-height: 130%;
}
.social-link-block {
	float: left;
}
.social-link-block img {
	height: 20px;
	width: 20px;
	margin: 0 0 0 9px;
	text-align: center;
	line-height: 100%;
}
.post-block button {
	float: right;
	margin: 0px 8px 0 0px;
	width: 114px;
	height: 30px;
	border-radius: 5px;
	border: none;
	background: url("..//images/TempSprite/btn_descr_background.png") no-repeat 50% 50%; 
	font-family: ColabReg;
	font-size: 19px;
	color: white;
}
.post-block button:hover {
	box-shadow: inset 0 0 10px 5px rgba(0,0,0,.3);
}
/*------====== post-block end ======------*/

/*------====== blog-block end ======------*/
.blog-slide-nav {
	height: 83px;
	width: 712px;
	background-color: lime;
	display: inline-block;
}
/*------====== slide-bar-block ======------*/
.slide-bar-block {
	width: 224px;
	height: 100%;
	float: right;
	font-family: ColabLig;
	box-shadow: inset 10px 0px 10px 0px rgba(222,223,225,0.5);
		-moz-box-shadow: inset 10px 0px 10px 0px rgba(222,223,225,0.5);
		-webkit-box-shadow: inset 10px 0px 10px 0px rgba(222,223,225,0.5);
}
.slide-bar {
	width: 224px;
	height: 620px;
	float: right;
	color: rgb(130,129,129);
	font-size: 15px;
	list-style: none;
	line-height: 195%;
}
.slide-bar-one {
	padding: 34px 0 0 20px;
}
.slide-bar-two {
	padding: 15px 0 0 20px;
}
.slide-bar ul {
	margin: 10px 0 0 20px;
	list-style-image: url(..//images/TempSprite/bullet.png);
}
/*------====== slide-bar-block end ======------*/
.advertisement-conteiner {
	width: 224px;
	padding: 0 0 20px 0;
	float: right;
	display: inline-block;
}
.advertisement-conteiner p {
	text-align: center;
	display: block;
	width: 100px;
	height: 35px;
	line-height: 100%;
	margin: 20% auto;
	font-size: 17px;
	color: rgb(130,129,129);
}
.advertisement-block {
	height: 110px;
	width: 193px;
	border: 1px solid rgb(217,217,218);
	margin: 20px 0 0 20px;
	background-color: rgb(237,238,239);
}
/*------====== blog-conteiner end ======------*/

/*------====== Slider blog ======------*/

#blog-slider {
	height: 1055px;
	width: 712px;
	background-color: rgb(231,232,234);
	float: left;
	background-color: yellow;
	position: relative;
}
#blog-slides {
		
}
.blog-inner {
	width: 500%;
}
.blog-inner:after {
	content: '';
	display: block;
	height: 0px;
	clear: both;
}
.blog-page {
	float: left;
	width: 20%
}

#blog-overflow {
	overflow: hidden;
}
#blog-slider input {
	display: none;
}
#blog-controls {
	
	position: absolute;
	width: 100%;
	margin: 0px 0 0 0;
	height: 25px;
	background-color: orange;
}
#blog-controls label {
	/*display: none;*/
	cursor: pointer;

}
#blog-controls label:hover {
	opacity: 0.8;
}

#blog-active label:nth-child(2) ~ #blog-slide1:checked ~ #blog-controls label:nth-child(4),
#blog-active label:nth-child(2) ~ #blog-slide2:checked ~ #blog-controls label:nth-child(5),
#blog-active label:nth-child(2) ~ #blog-slide3:checked ~ #blog-controls label:nth-child(6),
#blog-active label:nth-child(2) ~ #blog-slide4:checked ~ #blog-controls label:nth-child(7),
#blog-active label:nth-child(2) ~ #blog-slide5:checked ~ #blog-controls label:nth-child(3) {
	width: 27px;
	height: 25px;
	background-color: purple;
	float: right;
	display: inline-block;
}

#blog-slide1:checked ~ #blog-controls label:nth-child(7),
#blog-slide2:checked ~ #blog-controls label:nth-child(3),
#blog-slide3:checked ~ #blog-controls label:nth-child(4),
#blog-slide4:checked ~ #blog-controls label:nth-child(5),
#blog-slide5:checked ~ #blog-controls label:nth-child(6) {
	width: 27px;
	height: 25px;
	background-color: red;
	float: left;
	display: inline-block;
}

#blog-slide1:checked ~ #blog-slides .blog-inner { margin-left: 0; }
#blog-slide2:checked ~ #blog-slides .blog-inner { margin-left: -100%; }
#blog-slide3:checked ~ #blog-slides .blog-inner { margin-left: -200%; }
#blog-slide4:checked ~ #blog-slides .blog-inner { margin-left: -300%; }
#blog-slide5:checked ~ #blog-slides .blog-inner { margin-left: -400%; }

#blog-active {
	text-align: center;
}
#blog-active label {
	width: 27px;
	height: 25px;
	z-index: 1px;
	position: relative;
	margin: 23px 16px 0 0px;
	border: 1px solid rgb(95,115,128);
	background-color: rgb(102,102,126);
	display: inline-block;
	cursor: pointer;
	-webkit-border-radius: 3px;
		 -moz-border-radius: 3px;
		   -o-border-radius: 3px;
	    -ms-border-radius: 3px;
	        border-radius: 3px;
}

#blog-active label:hover {
	background-color: rgb(44,104,190);
}

#blog-active label:first-child {
	width: 60px;
}

#blog-active label:last-child {
	width: 60px;
}

#blog-slide1:checked ~ #blog-active label:nth-child(3),
#blog-slide2:checked ~ #blog-active label:nth-child(4),
#blog-slide3:checked ~ #blog-active label:nth-child(5),
#blog-slide4:checked ~ #blog-active label:nth-child(6),
#blog-slide5:checked ~ #blog-active label:nth-child(7) {
	background-color: rgb(44,104,190);
}

#blog-slides .blog-inner {
	-webkit-transition: all 0.8s ease-in-out;
		 -moz-transition: all 0.8s ease-in-out;
			-ms-transition: all 0.8s ease-in-out;
			 -o-transition: all 0.8s ease-in-out;
					transition: all 0.8s ease-in-out;
}



/*------====== Slider blog end ======------*/



