*::-webkit-input-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: color: rgb(190,190,190);
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {

}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background: linear-gradient(to bottom, rgb(27,27,45), rgb(231,232,233) 50%) no-repeat;
	
}	
.main-conteiner {
	width: 936px;
	margin: 0 auto;
	display: block;
	background-color: rgb(231,232,234);
}
/*------====== blog-conteiner ======------*/
.blog-conteiner {
	height: 1200px;
}
/*------====== blog-block ======------*/
.blog-block {
	height: 100%;
	width: 712px;
	background-color: rgb(231,232,234);
	float: left;
	display: inline-block;
	padding: 25px 30px 0 40px;
}
/*------====== post-block ======------*/
.post-block {
	width: 658px;
	height: 177px;
	margin: 34px 0 0 30px;
	border-bottom: 1px solid rgb(208,217,230);
	font-family: ColabLig;
}
.apps-post-image {
	display: block;
	margin: 35px 25px 35px 0;
	text-align: center;
}
.blog-conteiner h4 {
	display: inline-block;
	font-size: 27px;
}

.blog-block span {
	display: block;
	margin: 0 0 0 10px;
}
.blog-block {
	font-size: 15px;
}
.related-products-block p {
	font-size: 12px;
	color: rgb(95,115,144);
	margin: 0 0 25px 0;
}

.publication-text {
	margin: 20px 0 0 0;
}
.social-link-block {
	float: right;
}
.social-link-block img {
	height: 20px;
	width: 20px;
	margin: 0 0 0 9px;
	text-align: center;
	line-height: 100%;
}
.bullet-text-block {
	margin: 35px 0 0 0;
}
.bullet-text-block ul {
	margin: 0 0 25px 20px;
	line-height: 100%;	
}
.post-block button {
	float: right;
	margin: 0px 8px 0 0px;
	width: 114px;
	height: 30px;
	border-radius: 5px;
	border: none;
	background: url("..//images/TempSprite/btn_descr_background.png") no-repeat 50% 50%; 
	font-family: ColabReg;
	font-size: 19px;
	color: white;
}
.post-block button:hover {
	box-shadow: inset 0 0 10px 5px rgba(0,0,0,.3);
}
/*------====== apps-block ======------*/

.apps-block {
  margin: 0 25px 0 0;
  width: 115px;
}
.apps-block h4 {
	font-size: 22px;
}
.apps-block p {
	margin: 0;
}
.apps-block button {
	margin: 10px 0 0 0;
}	
/*------====== apps-block end ======------*/

/*------====== post-block end ======------*/

/*------====== blog-block end ======------*/
.blog-slide-nav {
	height: 83px;
	width: 712px;
	background-color: lime;
	display: inline-block;
}
/*------====== slide-bar-block ======------*/





