*::-webkit-input-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: color: rgb(190,190,190);
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {

}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background: linear-gradient(to bottom, rgb(27,27,45), rgb(231,232,233) 50%) no-repeat;
	
}	
.main-conteiner{
	width: 936px;
	margin: 0 auto;
	background-color: rgb(231,232,234);
}
/*------====== products-search-block ======------*/

.product-image-block {
	text-align: center;
	padding: 35px 0 0 0;
}
.banner-block {
	position: relative;
}

.product-image-block h3 {
	font-family: ColabLig;
	font-size: 31px;
	color: rgb(80,80,80);
}
.product-image-block p {
	font-size: 15px;
}
.product-image-block img {
	margin: 20px 0 0 0;
	display: inline-block;
}
.price-lable {
	height: 131px;
	width: 131px;
	background: url(..//images/Temp-grafiks/price-tag.png);
	border-radius: 50%;
	position: absolute;
	top: 120px;
	right: 210px;
}
.product-image-block button {
	width: 130px;
	height: 35px;
	border-radius: 5px;
	border: none;
	background: url("..//images/TempSprite/btn_descr_background.png") no-repeat 50% 50%; 
	font-family: ColabReg;
	font-size: 19px;
	color: white;
	display: block;
	margin: 0 auto;
}
.product-image-block button:hover {
	box-shadow: inset 0 0 10px 5px rgba(0,0,0,.3);
}
.product-description {
	font-family: ColabLig;
	width: 820px;
	margin: 0 auto;
}
.product-description h4, .bullet-text-block h4 {
	font-size: 31px;
	color: rgb(80,80,80);
}
.product-description p {
	font-size: 15px;
	color: rgb(130,129,129);
}
.bullet-text-block {
	font-family: ColabLig;
	margin: 35px 0 120px 115px;
}
.bullet-text-block h4 {
	margin: 0 0 10px 0;
}
.bullet-text-block li {
	font-size: 15px;
	margin: 0 0 0 15px;
	line-height: 200%;
	color: rgb(130,129,129);
	list-style-image: url(..//images/TempSprite/bullet.png);
}
/*------====== Product block end ======------*/

/*------====== Slider body ======------*/
/*------====== Slider body end ======------*/
