*::-webkit-input-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgb(190,190,190);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: color: rgb(190,190,190);
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {

}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background: linear-gradient(to bottom, rgb(27,27,45), rgb(231,232,233) 50%) no-repeat;
	
}	
.main-conteiner{
	width: 936px;
	margin: 0 auto;
	background-color: rgb(231,232,234);
}
/*------====== products-search-block ======------*/

.product-image-block {
	text-align: center;
	padding: 35px 0 0 0;
}
.banner-block {
	position: relative;
}

.product-image-block h3 {
	font-family: ColabLig;
	font-size: 31px;
	color: rgb(80,80,80);
}
.product-image-block p {
	font-size: 15px;
}
.product-image-block img {
	margin: 20px 0 0 0;
	display: inline-block;
}
.price-lable {
	height: 131px;
	width: 131px;
	background: url(..//images/Temp-grafiks/price-tag.png);
	border-radius: 50%;
	position: absolute;
	top: 120px;
	right: 210px;
}
.btn-buy  {
	width: 130px;
	height: 35px;
	border-radius: 5px;
	border: none;
	background: url("..//images/TempSprite/btn_descr_background.png") no-repeat 50% 50%; 
	font-family: ColabReg;
	font-size: 19px;
	color: white;
	display: block;
	margin: 0 auto;
	line-height: 170%;
  cursor: pointer;


}
.btn-buy:hover {
	box-shadow: inset 0 0 10px 5px rgba(0,0,0,.3);
}
.product-description {
	font-family: ColabLig;
	width: 820px;
	margin: 0 auto;
}
.product-description h4, .bullet-text-block h4 {
	font-size: 31px;
	color: rgb(80,80,80);
}
.product-description p {
	font-size: 15px;
	color: rgb(130,129,129);
}
.bullet-text-block {
	font-family: ColabLig;
	margin: 35px 0 120px 115px;
}
.bullet-text-block h4 {
	margin: 0 0 10px 0;
}
.bullet-text-block li {
	font-size: 15px;
	margin: 0 0 0 15px;
	line-height: 200%;
	color: rgb(130,129,129);
	list-style-image: url(..//images/TempSprite/bullet.png);
}
/*------====== Product block end ======------*/

/*------====== Slider body ======------*/




.modal-wrap::before {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
.modal-open:checked ~ .modal-wrap::before, .modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    top: 215px;
    transform: translate(-50%, 0px);

}
/*------====== modal-dialog ======------*/
.modal-dialog {
		display: block;
    left: 50%;
    position: absolute;
   	
   	transform: translate(-50%, -500%);
    transition: transform 0.8s ease-out 0s;
    width: 700px;
    z-index: 103;
}
.modal-dialog h3 {
	font-family: ColabLig;
	font-size: 27px;
	line-height: 100%;
	color: rgb(80,80,80);
}
.modal-dialog p {
	font-family: ColabLig;
	font-size: 15px;
	color: rgb(95,115,144);
	margin: 0 0 0 5px;
}


/*------====== payment-block ======------*/
.payment-block {
	height: 371px;
	width: 676px;
	background: rgb(233,232,232) url(..//images/TempSprite/secure-modal-bg.png) no-repeat 100% 100%;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
	padding: 22px 30px;
}
.buy-block {
	width: 386px;
	float: left;
}

.article-calculator {
		height: 69px;
		width: 344px;
		border: 1px solid rgb(204,200,200);
		border-radius: 5px;
		background-color: rgb(220,220,220);
		margin: 17px 0 0 5px;
}
.article-calculator img {
	margin: 12px 9px 0 15px;
	float: left;
}
.article-calculator input {
	float:left;
	margin: 14px 22px 0 0;
	width: 30px;
	border: 1px solid rgb(204,200,200);
	text-align: center;

}
.article-calculator p {
	color: rgb(80,80,80);
}
/*-- spin btn --*/
	html:not([dir="rtl"]) input {
  text-align: left;
}

/*-- spin btn end --*/

.total-price {
		display: inline-block;
		margin: 17px 0 0 5px;
}
.total-price p {
	font-family: ColabLig;
	font-size: 23px;
	line-height: 100%;
	color: rgb(61,61,77);
}
.pay-card-number-block {
	margin: 15px 0 0 5px;
	position: relative;
	display: inline-block;
}
.card-number {
	height: 40px;
	width: 331px;
	border-radius: 5px;
	padding: 0 0px 0 17px; 
	border-top: 1px solid rgb(201,201,201);
	border-left: 1px solid rgb(203,203,203);
	border-right: 1px solid rgb(203,203,203);
	border-bottom: 1px solid rgb(209,209,209);
}
.pay-card-btn {
	display: block;
	position: absolute;
	width: 96px;
	height: 36px;
	top: 3px;
	right: 3px;
	cursor: pointer;
	border: none;
	font-family: ColabReg;
	font-size: 19px;
	color: rgb(233,232,232);
	border-radius: 7px;
	background: rgb(83,83,97) url(..//images/TempSprite/pay-now-btn.png) no-repeat 50% 50%;
}
.pay-card-btn:hover {
	background: rgb(83,83,97) url(..//images/TempSprite/pay-now-btn-click.png) no-repeat 50% 50%;
}
.info-card-block {
	margin: 39px 0 0 0;
	display: inline-block;
}
.info-card-block img {
	height: 34px;
	width: 34px;
	margin: 0px 10px 0 10px;
	border-radius: 50%;
	float: left;
}
.info-card-block p {
	font-size: 15px;
	width: 300px;
	display: inline-block;
	line-height: 100%;
	margin: 2px 0 0 0;
	color: rgb(130,129,129);
}

.paymant-system-block {
	border-left: 1px solid rgb(179,171,171);
	float: right;
	width: 230px;
	height: 304px;
}
.paymant-system-block img {
	float: left;
	margin: 35px 12px 0 35px;
}
.paymant-system-block h4 {
	font-family: ColabLig;
	font-size: 25px;
	display: block;
	line-height: 100%;
	margin: 35px 0px 0 0;
	color: rgb(80,80,80);
}
.paymant-system-block p {
	color: rgb(95,115,144);
}

/*------====== payment-block end ======------*/
.member-block {
	height: 246px;
	width: 402px;
	margin: 188px auto;
	background-color: rgb(233,232,232);
	border-radius: 10px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
}

.yes-no-block {
	margin: 234px auto 0;
	border-radius: 10px;
	background-color: rgb(233,232,232);
	height: 121px;
	width: 421px;
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
}

/*------====== modal-dialog end ======------*/
